.formControl {
    display: flex;
    flex-direction: column;
  }
  
  .formControl textarea,
  .formControl input {
    border-radius: 8px;
    padding: 8px;
  }
  
  .formControl.error textarea,
  .formControl.error input {
    border: 2px solid #ff4d4f;
  }
  
  .formControl span {
    font-size: 12px;
    color: #ff4d4f;
    margin-top: 4px;
  }

  .inputEditProfile {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: red;
  }
  