.LookingForAJob {
    display: flex;
    align-items: center;
}

.FullName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.JobDescription {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Save {
    border-radius: 6px;
    background-color: blue;
    width: 70px;
    height: 34px;
    border: none;
    cursor: pointer;
}