/* ✅ Общие сбросы */
html, body, #root {
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* ✅ Обёртка всего приложения */
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh
  }
  
  /* ✅ Хедер сверху */
  .header-container {
    background-color: green;
    padding: 10px;
  }
  
  .header-icon {
    width: 20px;
    height: auto;
  }
  
  /* ✅ Основная часть под хедером */
  .main {
    display: flex;
    flex: 1;
    min-height: 0; /* важно для растяжки */
  }
  
  /* ✅ Блок ссылок NavBar */
  .Routes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(245, 215, 95, 0.751);
    height: 100%;
  }
  
  /* ✅ Контент справа */
  .content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: skyblue;
  }
  
  /* ✅ Убираем странные отступы */
  .Home {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .NAv {
    color: black;
    text-decoration: none;
  }
  
  .dialog {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
  }
  
  .h4 {
    font-size: large;
  }
  
  .img-gora {
    width: 700px;
    height: 260px;
  }

  .post-img {
    border-radius: 20px;
    width: 38px;
    height: 38px;
  }

  .item {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 10px;
  }

  .messagesN {
    font-size: larger;
  }

  .morMessages {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mesD {
    display: flex;
    flex-direction: column;
  }

  .Del {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    margin-top: 10px;
  }

  .Dialog-faces {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  .dopRef {
    display: flex;
    align-items: center;
  }

  textarea {
    resize: none;
  }